---
layout: default
---

{% assign sortedTags = site.tags | sort %}
{% for tag in sortedTags %}
    <h2 id="{{ tag[0] }}">{{ tag[0] | replace: "-", "&nbsp;" }}</h2>

    <table>
        <tr>
            <th></th>
            <th>Published</th>
            <th>Updated</th>
        </tr>
    {% for post in tag[1] %}
        <tr>
            <td style="text-align: left"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></td>
            <td>{{ post.date | date_to_long_string }}</td>
            <td>{{ post.last_updated | date_to_long_string }}</td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}

