@charset "utf-8";

// Define defaults for each variable.

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
         url($font-file+'.woff') format('woff'),
         url($font-file+'.ttf') format('truetype'),
  }
}
@include font('CormorantGaramond', '/assets/fonts/CormorantGaramond-Regular');
@include font('Hack', '/assets/fonts/Hack-Regular');

$base-font-family: CormorantGaramond;
$base-font-size:   22px !default;
$base-font-weight: 450 !default;
$small-font-size:  $base-font-size * 0.800 !default;
$base-line-height: 1.3 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fffff8 !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: right !default;

// Width of the content area
$content-width:    80ch !default;

$on-palm:          60ch !default;
$on-laptop:        80ch !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
