---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}

<div>
<p style="color: #828282">
    <small>Published: {{ page.date | date: "%b %d, %Y" }}
        {% if page.last_updated %}
            • Last Updated: {{ page.last_updated | date: "%b %d, %Y" }}
        {% endif %}
    </small>
</p>
</div>

<div>
    {% for keyword in page.keywords %}
        {% assign seealso_path = "/liquid/" | append: keyword %}
        {% assign file = site.static_files | where: "path", seealso_path | first %}
        {% if file %} 
            {% comment %} TODO {% endcomment %}
        {% endif %}
    {% endfor %}
</div>
