---
layout: default
---

<h1>{{ page.title }}</h1>

<div>
<p style="font-style: italic; color: #828282">
Published: {{ page.date | date: "%b %d, %Y" }}
{% if page.last_updated %}
    • Last Updated: {{ page.last_updated | date: "%b %d, %Y" }}
{% endif %}
</p>
</div>

{{ content }}

<div>
{% for keyword in site.partof %}
    {% if page.tags contains keyword.name %}
        {{ keyword.content | markdownify }}
    {% endif %}
{% endfor %}
</div>

<div>
</br>
<p style="text-align: center; font-style: italic; color: #828282">
{{ page.quote }}
</p>
</div>
